.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0px auto;
 }

 col__3 {
   flex-basis: 30%;
   margin: 1rem;
 }
 
 @media screen and (max-width: 768px) {
   .col__3 {
     flex-basis: 45%;
   }
 }
 
 @media screen and (max-width: 576px) {
   .col__3 {
     flex-basis: 100%;
   }
 } 

 h1.heading {
   font-size: 60px;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
}

 p.heading.p__color {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.2;
 }

 .service__box {
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff;
    padding: 55px;
    transition: .4s ease;
 }

 .service__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #7b512e, #7b512e);
    color: #fff;
 }

 .service__box:hover .icon {
    color: #fff;
 }

 .service__box:hover p.service__text .p__color {
          color: #fff !important;
 }

 .icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #9a5007;
 }

 p.service__text.p__color {
    margin-bottom: 0;
 }

 h1.service__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
 }

 @media only screen and (max-width: 1024px) {
      .service__box {
        padding: 32px;
      }
 }
